input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.buttoned {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: white; /* Green */
  border: 2px solid #4CAF50;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}
.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: white; /* Green */
  border: 2px solid #4CAF50;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.nobottom {
  border-bottom: none;
}
.lefted{
  text-align: left;
}
.blued {
  border: 2px solid blue;  
}
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
input[type="checkbox"] {display: none; margin: 0;}
input[type="checkbox"] + label {
  display: inline;
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: inline;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fullfill {
  width: 100%;
}
.goright{
  margin-left: 35px;
}
.gofullleft{
  background-color: white; /* Green */
  border: 2px solid #4CAF50;
  color: black;
}
.gotop {  
  margin-top: 10px;
}
.goleft {
  margin-left: 10px;
}
.framed {
  width: 1600px;
  overflow:scroll;
}
.flexed {margin-left: 10px; display: flex; flex-direction: column; justify-content: space-around;}
.fillflex {
  display: flex; flex-direction: row; justify-content: space-between;
}
body {
      display: flex; 
      overflow-x: auto;
      margin: 0;
}

body * {
  font-family: 'PT Sans', sans-serif;
}

#bodyClass {
  margin-top: 108px;
}

#bodyClass.indentCollapsed {
}

.box {
  border: 2px solid #4CAF50; 
  width: 500px; 
  height: 500px; 
  display: inline-block;}

header {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%; 
  height: 108px; 
  position: fixed; 
  font-size: 32px; 
  line-height: 108px; 
  background: #335c7d; 
  color: #fff;}

header.sticky {

  font-size: 24px;
  line-height: 48px;
  height: 48px;
  background: #4CAF50;
}

header.sticky > img {
  max-height: 40px;
}

header.sticky > #profileTop img {
  height: 24px;
  width: 24px;
}

header img {
  position: relative;
  left: 20px;
  transition: all 0.4s ease;
  max-height: 100px;
  line-height: 100px;
  margin-top: 4px;
}

#profileTop {
  position: absolute;
  height: inherit;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 200px;
  cursor: pointer;
}

#profileTop:hover {
   background-color: #2980B9;
}

#profileTop img {
  top: 25%;
  right: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
  height: 54px;
  display: inline-block;
  width: 54px;
}

#profileTop span {
  word-break: break-all;
  height: inherit;
  top: 0;
  right: 5px;
  display: inline-block;
  width: 150px;
  font-size: 24px;
}

#controller {
  position: fixed;
  right: 10px;
  top: 150px;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  max-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 100px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  height: 20px;
  font-size: 14px;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}
