
<!DOCTYPE html>
<html>
<head>
	<title>Brainiest_test</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" href="table.css">
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="index.js"></script>
 <script type="text/javascript" src=""></script>
</head>
<body>
	<script type="text/x-template" id="rd3-grid-template">
		<table v-if="quests">
			<tbody>
	    		<tr v-for="( name, value) in getQuests">
	    			<td v-for="(entry, index) in columns" v-on:click="pressed" :id = value>
	          			{{name[index]}}
	        		</td>
	      		</tr>
	    	</tbody>
	  	</table>
	</script>

	<script type="text/x-template" id="rd1-grid-template">
		<div v-if="question" class="buttoned">
			<div class="buttoned nobottom">
				{{question}}
			</div>
			<table>
				<tr>
					<td v-for="entry in answers"  v-on:click="pressed">
						{{entry}}
					</td>
				</tr>
			</table>
		</div>
	</script>

	<div id="rd3">
	  	<rd3-quest-grid 
	    	:quests="json.gridData"
	    	:columns="json.gridColumns" 
	    	:type="json.type">
	  	</rd3-quest-grid>
	</div>

	<div id="rd1">
		<rd1-quest-grid
			:question="json.question"
			:answers="json.answers">
		</rd1-quest-grid>
	</div>

	 <div class="flexed" id="controller">
	 <Button v-on:click="test1" class="button">1 RND</Button>
	 <Button v-on:click="" class="button">2 RND</Button>
	 <Button v-on:click="test3" class="button">3 RND</Button>
	 <Button v-on:click="test" class="button">TEST</Button>
	 <Button v-on:click="reset" class="button">RESET</Button>
	 <a href="func.php" class="button"></a>
	</div>
</body>
</html>
